@model ToDoList

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> ToDo </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ToDoList" asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-secondary text-end bg-info"> Edit </a>
            <a asp-controller="ToDoList" asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-secondary text-end bg-danger"> Delete </a>
        </div>
    </div>
    <table class="table table-boarded table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th> Name</th>
                <th> Description </th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            <td>@Model.Id</td>
            <td> @Model.Name </td>
            <td> @Model.Description </td>
            <td>@Model.Items.Count</td>
            <td><a asp-controller="ToDoList" asp-action="Items" asp-route-Id="@Model.Id" class="btn btn-secondary text-end bg-info"> See Items </a></td>
        </tbody>
    </table>
</div>